* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f5f6;
    overflow-x: hidden;
}

.d-none {
    display: none;
}

.header-videos {
    user-select: none;
}

@media (max-width:3840px) {

    .btn-menu {
        background-color: #3138d1;
        outline: none;
        border: none;
        color: #fff;
    }

    .list-nav {
        display: flex;
        justify-content: flex-end;
    }

    .list-nav li {
        margin-left: 12px;
    }

    .list-nav li a {
        color: #000 !important;
    }

    .header-wrapper {
        margin: 12px 0;
        background-image: url(https://images.alphacoders.com/570/570119.jpg);
        background-color: rgba(0, 0, 0, .7);
        background-repeat: no-repeat;
        background-size: cover;
        height: 85vh;
    }
    
    .header-wrapper div {
        color: #fff;
        margin: auto;
        padding: 0px 1rem;
        width: 1280px;
    }
    
    .header-wrapper div header {
        display: flex;
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        -moz-box-pack: center;
        justify-content: center;
        padding: 2em;
        min-height: 768px;
    }

    .user-img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }

    .divider {
        padding: 0;
    }

    .border-header {
        border: .3px solid rgba(0, 0, 0, 0.21);
    }

    .border-header li {
        display: inline-block;
        padding: 1.2rem;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;
        border: .3px solid rgba(0, 0, 0, 0.21);
    }


    .card-image {
        overflow-y:scroll;
        height:286px;
    }


    .card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        overflow: hidden;
        height: 93px;
    }

    .card-content div:first-child, .card-contentcard-content div:last-child {
        width: 48%;
        overflow: hidden;
    }

    .card-action, .user-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn-user {
        cursor: pointer;
        border-radius: 12px;
        color: #fff;
        border: none;
        padding: 5px;
        font-size: 10px;
    }

    .btn-user a {
        margin: 0 !important;
        color: #fff !important;
    }

    .categoryImages {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .categoryImages i {
        font-size:45px;
    }


    .video {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        align-content: center;
        justify-content: space-around;
    }

    .header-videos {
        clip-path: polygon(0px 0px, 100% 0px, 100% 85%, 0px 100%);
        background-color: #f0d91d;
        padding: 65px;
    }

    .title-footer {
        color: #fff;
    }

    .title-footer figure img {
        margin: 0 0 5px -15px;
        width: 150px;
    }

    .list-family {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        padding: 1rem;
        height: auto;
    }
    
    .list-family div:first-child {
        margin-bottom: 12px;
    }

    .list-family div {
        display: flex;
        text-align: center;
        color: #fff;
        padding: 4px;
        margin: 22px 0;
        border-left: 5px solid rgb(78, 13, 231);
    }

    .list-family div a {
        color: #fff;
    }

}

@media (max-width:1250px) {
    .name-photo, .date-photo {
        font-size: 12px;
    }

    .header-wrapper {
        background-size: auto auto;
    }

    .user-img {
        width: 25px;
        height: 25px;
    }
}

/* Media query a 1200px */

/* @media (max-width:1200px) {
    
} */

@media(max-width:992px) {
    .user-img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
    }
    
    .user-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
    }

    .user-container button {
        display: none;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title p {
        margin: 0;
        text-align: center;
        /* height: 100%; */
        font-size: 28px;
    }

    .user {
        display: flex;
        align-items: center;
    }

    .card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-action, .user-card {
        display: flex;
        align-items: center;
    }

    .btn-user {
        /* display: block; */
        cursor: pointer;
        border-radius: 12px;
        color: #fff !important;
        border: none;
        padding: 5px;
        font-size: 10px;
        overflow: hidden;
    }

    .video {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        align-content: center;
        justify-content: space-around;
        overflow: scroll;
    }

}

@media (max-width:600px) {
    .header-site {
        display: none;
    }

    .header-intro h4 {
        font-size: 14px;
    }

    .header-wrapper {
        margin: 0;
    }
    
    .card-image {
        height: auto;
        overflow-y: none;
    }

    .btn-menu-mobile {
        position: fixed;
        left: 0;
        
    }

    .video iframe {
        margin: 5px;
    }

}